target
*/target
project/target
project/project
*.class

code1/target
code1/js/target
code1/jvm/target
code1/project/project
code1/project/target

code2/target
code2/js/target
code2/jvm/target
code2/project/project
code2/project/target

code3/target
code3/js/target
code3/jvm/target
code3/project/project
code3/project/target

code4/target
code4/js/target
code4/jvm/target
code4/project/project
code4/project/target

code5/target
code5/js/target
code5/jvm/target
code5/project/project
code5/project/target

code6/target
code6/js/target
code6/jvm/target
code6/project/project
code6/project/target
